# Flutter
*.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.iml

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
